### What is a list?
A list is an ordered set of objects in Python.
- How to create a list
- How to create a list of lists using zip
- How to add elements to a list using either .append() or +
- How to use range to create lists of integers
- Get the length of a list
- Select subsets of a list (called slicing)
- Count the number of times that an element appears in a list
- Sort a list of items

In [1]:
# Create a list with only numbers:
list_numbers = [1, 34, 65, 99.9, -76]

In [2]:
# Create a list with only strings:
list_names = ['Nicolas', 'Sam', 'Blabla']

In [3]:
# Create a list with only booleans:
list_bool = [True, True, True, False]

In [4]:
# Create also combine multiple data types in one list:
list_mult = [33, 'Town', False, True, -77.99]

In [5]:
# Create an empty list:
list_empty = []

In [6]:
# Create list of lists:
list_of_lists = [[1, 33, 66], ['NY', 'PARIS', 'TOKYO'], [True, True, True]]
age_people = [['Lena', 14], ['Jo', 18], ['Ricky', 15], ['Nick', 20]]

In [7]:
# zip() function converts a zip object:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
heights = [61, 70, 67, 65]
group = zip(names, heights)

# You can get a list with list() function :
list_group = list(group)
print(list_group)

[('Jenny', 61), ('Alexus', 70), ('Sam', 67), ('Grace', 65)]

In [8]:
# Unzip a list of tuples (contrary operation):
list_names, list_heights = zip(*list_group)
print(list_names)
print(list_heights)

('Jenny', 'Alexus', 'Sam', 'Grace')
(61, 70, 67, 65)

In [9]:
# Add a single element to a list using .append():
empty_list = []
empty_list.append("My first element")
empty_list 
empty_list.append("My second element")
empty_list

['My first element', 'My second element']

In [10]:
# Growing a List: Plus (+)
america_towns = ['Washington', 'San Francisco', 'New-York']
french_towns = ['Paris', 'Lyon', 'Marseille', 'Aix-en-Provence']
list_towns = america_towns + french_towns
print(list_towns)

['Washington', 'San Francisco', 'New-York', 'Paris', 'Lyon', 'Marseille', 'Aix-en-Provence']

In [11]:
# List of consecutive numbers with range():
list_rang = range(10)

# Like with zip, the range function returns an object that we can convert into a list:
print(list_rang)
print(list(list_rang))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# Function range() with arguments to create an interesting list:
print(list(range(5, 30)))

# List where each number is 2 greater than the previous number:
print(list(range(5, 30, 2)))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [13]:
# Length of a List:
list1 = list(range(65, 887, 30))
length_list1 = len(list1)
length_list1 # There's 28 numbers in list1

28

In [14]:
# Selecting List Elements:
first_element = list_names[0] # Index 0 it's element number one
print(first_element)

# Other example, last element of this list_names:
last_element = list_names[-1]
print(last_element)

Jenny
Grace

In [15]:
# Slicing Lists:
list_letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
print(list_letters[2:5])
print(list_letters[:5])
print(list_letters[3:])
print(list_letters[-3:])

['c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['d', 'e', 'f', 'g', 'h']
['f', 'g', 'h']

In [16]:
# Counting elements in a list with function count():
list_multiple_letters = ['a', 'e', 'a', 'b', 'h', 'c', 'a', 'd', 'e', 'f', 'a', 'g', 'h']
letter_e = list_multiple_letters.count('e')
print(letter_e)

list_surnames = ['Nick', 'Nick', 'Sam', 'Jessy', 'Nick', 'John', 'Spy', 'Nick']
count_nick = list_surnames.count('Nick')
print(count_nick)

2
4

In [17]:
# Sorting Lists with sort() function:
# Sometimes, we want to sort a list in either numerical (1, 2, 3, ...) or alphabetical (a, b, c, ...) order.
list_surnames.sort()
list_surnames

['Jessy', 'John', 'Nick', 'Nick', 'Nick', 'Nick', 'Sam', 'Spy']

In [18]:
# Sorting Lists with sorted() function:
# It comes before a list, instead of after, and it generates a new list!
list_numbers = [3, 44, 0, -8, -55, 1000, 8]
print(sorted(list_numbers )) # Create a new list
print(list_numbers)

[-55, -8, 0, 3, 8, 44, 1000]
[3, 44, 0, -8, -55, 1000, 8]

In [19]:
# Modify an element in the list:
list_numbers[0] = 333
list_numbers

[333, 44, 0, -8, -55, 1000, 8]